*{
	margin: 0;
	padding: 0;
	cursor: pointer;
}
a{text-decoration: none;}
ul{
	list-style: none;
}
header{
	width: 1300px;
	background: gray;
	margin: auto;
	position: relative;
	z-index: 3;
}
.clear{
	clear: both;
}
.header_top{
	width: 1300px;
	height: 68px;
	
	position: fixed;
	background: rgba(255,255,255,0.4);
	/*border: 1px solid red;*/
}
.header_top_left{
	width: 300px;
	height: 68px;
	/*border: 1px solid green;*/
	float: left;
	position: relative;
}
.header_top_left_logo{
	width: 100px;
	height: 68px;
	margin-top: 10px;
	/*border: 1px solid green;*/
	float: left;
	
}
.header_top_left_logo>img{
	margin-top: 20px;
	width: 100px;
	height: 30px;
}
.san{
	position: relative;
	width: 180px;
	height: 68px;
	/*border: 1px solid green;*/
	float: right;
	line-height: 68px;
}
.san>ul>li{
	width: 60px;
	height: 68px;
	float: left;
	position: relative;
}
.cctv{
	position: absolute;
	width:230px;
	height: 300px;
	display: none;
	background: white;
	/*border: 1px solid red;*/
	z-index:5;
	
}
.san>ul>li>.cctv>li{
	width: 230px;
	height: 30px;
	color: grey;
}
.san>ul>li>.cctv>li>span{
	margin-left: 15px;
}
.san>ul>li:hover>.cctv{
	display: block;
}

.header_top_center{
	width: 510px;
	height: 52px;
	/*border: 1px solid red;*/
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
	
}
.header_top_center>input{
	width: 400px;
	height: 50px;
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;
	border: 2px solid red;
	outline: none;
	cursor: pointer;
}
.input_contain{
	bottom: 10px;
	width: 400px;
	height:130px;
	display: none;
	background: white;
	/*border: 1px solid red;*/
}
.input_contain>ul>li{
	width: 400px;
	height: 20px;
	margin-top: 10px;
}

.header_top_center>.sou{
	position: absolute;
	width: 98px;
	height: 50px;
	left: 403px;
	bottom: -2px;
	border: 2px solid red;
	float: right;
	color: white;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	background: orangered;
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
}
.header_top_right{
	width:310px;
	height: 58px;
	/*border: 1px solid red;*/
	float: left;
	margin-top: 5px;
	position: relative;
}
.header_top_right_contain>ul>.last{
	position: absolute;
	right: 0px;

}
.header_top_right_contain{width:310px;height: 58px;position: absolute;}
.header_top_right_contain>ul{width:310px;}
.header_top_right_contain>ul>li{
	width:70px;
	height: 45px;
	line-height: 25px;
	/*border: 1px solid red;*/ 
	float: left;
	margin-left: 7px; 
	margin-top: 3px;
	font-size: 8px; 
	text-align: center;
	  }
.header_top_right_contain>ul>li>.kan_right{left: 10px;bottom:20px;}
.header_top_right_contain>ul>li:hover{color: white;}
section{
	width: 1300px;
	margin: auto;
	/*border: 1px solid green;*/
}
.section_lunbo{
	position: relative;
	width: 1300px;
	height: 500px;
	/*border: 1px solid red;*/
	z-index: 2;
}
.section_lunbo_contain{
	width: 1300px;
	height:500px;
	/*border: 1px solid red;*/
	overflow: hidden;
	
}
.section_lunbo_contain>ul{
	width: 800%;
	height: 500px;
}
.section_lunbo_contain>ul>li{
	width: 1300px;
	height:500px;
	float: left;
}
.section_lunbo_contain_right{
	position: absolute;
	width: 260px;
	height:320px;
	right: 50px;
	bottom:35px;
/*border: 1px solid red;*/	
	background: white;
	color: #000000;
	
}
.section_lunbo_contain_right>ul>.add{
	background: orange;
	font-size: 15px;
}
.section_lunbo_contain_right>ul>li{
	width: 100%;
	height: 40px;
	line-height:40px;
}
nav{
	position: absolute;
	width: 1200px;
	height: 30px;
	left: 50px;
	top:70px;
	background: gainsboro;
	/*border: 1px solid red;*/
	border-radius: 15px ;
}
nav>ul>li{
	float: left;
	font-size: 13px;
	margin-left: 50px;
	color: black;
	line-height: 30px;
}
nav>ul>li:hover{
	color: white;
}
.section_lunbo_contain_bottom{
	position: relative;
	width: 1200px;
/*	height: 100px;*/
	left: 50px;
	z-index: 2;
	bottom: 20px;
	background: white;
	/*border: 1px solid red;*/
}
.section_lunbo_contain_bottom>ul>li{
     position: relative;
	width: 230px;
	height: 80px;
	/*border: 1px solid red;*/
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
}
.section_lunbo_contain_bottom>ul>li:nth-child(3){
	width: 400px;
	height: 80px;
}
.section_lunbo_contain_bottom>ul>li:nth-child(3)>div{
	width: 400px;
	height: 60px;
	border-right: 1px solid grey;
}
.section_lunbo_contain_bottom>ul>li>p{color: gray;}
.section_lunbo_contain_bottom>ul>li>div{
	position: absolute;
	width: 230px;
	height: 60px;
	border-right: 1px solid grey;
}

.section_lunbo_contain_bottom>ul>li>div>ul>li{
	font-size: 13px;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	overflow: hidden;
}
.section_lunbo_contain_bottom>ul>li>div>ul>li:hover{color: red;}
.section_lunbo_contain_bottom_yugao{
	width: 1200px;
	/*height:800px;*/
	top: 20px;
	margin: auto;
	background: white;
	/*border: 1px solid red;*/
}
.section_lunbo_contain_bottom_yugao_left{
	width: 500px;
	height: 400px;
	/*border: 1px solid red;*/
	float: left;
}
.section_lunbo_contain_bottom_yugao_left>span{font-size: 25px; }
.section_lunbo_contain_bottom_yugao_left>.span{font-size: 13px;margin-left: 30px;}
.section_lunbo_contain_bottom_yugao_center{
	width: 400px;
	height: 400px;
	margin-left: 30px;
	/*border: 1px solid red;*/
	float: left;
}
.section_lunbo_contain_bottom_yugao_center>ul>li{
	width: 180px;
	height: 198px;
	float: left;
	margin-left: 10px;
	/*border: 1px solid red;*/
}
.section_lunbo_contain_bottom_yugao_center>ul>li>img{
	width: 180px;
	height: 148px;
}
.bo{
	display: none;
}
.section_lunbo_contain_bottom_yugao_center>ul>li>p{
	font-size: 15px;
	color: black;
}
.section_lunbo_contain_bottom_yugao_center>ul>li>span{
	font-size: 8px;
	color: gray;
}
.section_lunbo_contain_bottom_yugao_right{
	width: 235px;
	height: 800px;
	/*border: 1px solid red;*/
	float: right;
}
#button{
	width: 950px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}
.a{
	width: 950px;
	height: 30px;
	position: relative;
}
.b{
	width: 950px;
	height: 135px;
	display: none;
	position: relative;
}
button{
	width: 200px;
	height:30px;
	line-height: 30px;
	background: blue;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
	color: gray;
	font-size: 25px;
}
.jiemudan{
	width: 235px;
	height: 400px;
	/*border: 1px solid red;*/
}
.jiemu{
	position: relative;
	background: grey;
	width: 100%;
	height: 30px;
	
}
.jiemu>span{
	position: absolute;
	background: orange;
	color: white;
	height: 30px;
	font-size:15px ;
}
.jiemudan>.jiemu_bottom{
	width: 232px;
	height: 330px;
	top: 5px;
	/*border: 1px solid red;*/
}
.jiemudan>.jiemu_bottom>ul>li{
	width: 232px;
	height: 70px;
	font-size: 10px;
}
.jiemudan>.jiemu_bottom>ul>li>div>p{color: green;}
.jiemudan>.jiemu_bottom>ul>li>div>.font_zuo{color: black;}
.jiemudan>.jiemu_bottom>ul>li>div>.font_you{color: gainsboro;margin-left: 15px;}
.guanggao{
	position: relative;
	width: 235px;
	height: 246px;
	/*border: 1px solid red;*/
}
.first{
	position: absolute;
	width: 60px;
	height: 30px;
     left: 85px;
     top: 3px;
	line-height: 30px;
	background: orange;
	color: white;
	text-align: center;
}
.second{
	position: absolute;
	width: 235px;
	height:190px;
     bottom: 20px;
}
.jiaodian{
	/*position: relative;*/
	width: 950px;
	/*height: 396px;*/
	margin: auto;
	bottom: 0px;
	/*border: 1px solid red;*/
	float: left;
}
.jiaodian_top{
	/*position: absolute;*/
	width: 950px;
	height:70px;
	
	/*border: 1px solid red;*/
}
.jiaodian_top>ul>li{
	margin-top: 5px;
	margin-left: 12px;
	width: 120px;
	height: 70px;
	float: left;
}
.jiaodian_top>ul>li>div{
	width: 120px;
	height: 60px;
	text-align: center;
	border-top:1px solid gray ;
}
.jiaodian_top>ul>li>div:hover{background: red;}
.jiaodian_center{
	
	width: 950px;
	height: 160px;
	/*border: 1px solid green;*/
}
.jiaodian_center>ul>li{
	width: 130px;
	height: 160px;
	margin-left: 4px;
	float: left;
}
.jiaodian_center>ul>li>div{
	position: relative;
	width: 130px;
	height: 160px;
}
.jiaodian_center>ul>li>div>img{
	width: 130px;
	height: 160px;
	float: left;
}
.jiaodian_bottom{
	/*position: absolute;*/
	width: 950px;
	height: 130px;
	bottom:30px;
	/*border: 1px solid sandybrown;*/
}
.mask{
	position: absolute;
	width:130px ;
	height: 40px;
	bottom: 0px;
	left: 0px;
	background: gray;
	opacity: 0.8;
	/*border: 1px solid red;*/
}
.mask:hover{color: white;background: orange;}
.tangshan{
	width: 130px;
	height:70px ;
	margin-top: 7px;
	border-bottom: 1px solid gray;
}
.bo{
	width: 120px;
	height: 120px;
}
.tangshan1{
	width: 110px;
	height:65px ;
	margin-top: 0px;
	margin-left: 20px;
	float: left;
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
	font-size: 13px;
}
.two{color: gray;}
hr{margin-top: 10px;}
.xhr{
	width: 1200px;
	height:120px;
	margin: auto;
	/*background: gray;*/
	/*border: 1px solid red;*/
}
.sbyy{
	width: 1200px;
	height:900px;
	margin: auto;
	/*border: 1px solid red;*/
}
.sbyy>p{
	width: 860px;
	height: 40px;
	line-height: 40px;
}
.sbyy>.shoubotu{
	width: 930px;
	height: 860px;
	/*border: 1px solid red;*/
	float: left;
}
.sbyy>.shoubotu{width: 900px;}
.sbyy>.shoubotu>li{
	width: 165px;
	height: 275px;
	/*border: 1px solid red;*/
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	
}
.sbyy>.shoubotu>li>img{width: 165px;height: 250px; }
.soubo_right{
	width: 250px;
	height: 855px;
	position: relative;
	/*border: 1px solid gray;*/
	margin-left: 930px;
	
}

.wangluo{
	width: 1200px;
	height:230px;
	margin: auto;
	position: relative;
	/*border: 1px solid red;*/
}
.num_o{
	width: 13px;
	height: 13px;
	color: white;
	text-align: center;
	line-height: 20px;
	background: #FF7800;
}
.num_tong{
	width: 13px;
	height: 13px;
	color: white;
	text-align: center;
	line-height: 13px;
	background: gray;
}
.beimei{
	display: none;
}
.wangluo_last{
	width: 1200px;
	height:40px;
	/*border: 1px solid red;*/
}
.wangluo_last>ul>li{float: left;margin-left: 30px;}
.wangluo_last>ul>li:first-child{font-size: 25px;}
.wangluo_last>ul>li:nth-child(n+2){text-align: center; line-height: 40px;}
.wangluo_last>ul>li:nth-child(n+2):hover{color: red;}
.internet-footer{
	width: 1200px;
	height: 180px;
	/*border: 1px solid red;*/
}
.internet-footer-left{
	width: 400px;
	height: 180px;
	/*border: 1px solid red;*/
	float: left;
}
.internet-footer-left_you{width: 180px;height: 180px;float: left; }
.internet-footer-left_you>h4{color: black;text-align: center;}
.internet-footer-left_you>span{padding-top: 15px;color: gainsboro;}
.internet-footer-left>img{width: 200px; height: 160px;float: left;}
.internet-footer-right{width: 780px;height: 180px;float: left;}
.internet-footer-right>ul>li{width:180px;height: 160px;  margin-left: 15px; margin-top: 15px;float: left;font-size:14px}
.internet-footer-right>ul>li>img{width: 180px;}
.teshe{
	width: 1200px;
	height:200px;
	margin: auto;
	/*background: chartreuse;*/
	/*border: 1px solid red;*/
}
.dd_aa{
	width: 100%;
	height: 30px;
	/*border: 1px solid red;*/
	line-height: 30px;
	/*position: relative;*/
}
.dd_aa>p{
	float: left;
	font-size: 20px;
}
.dd_aa>ul{
	float: left;
}
.dd_aa>ul>span{
	float: left;
}
.dd_aa>ul>li{
	float: left;
	font-size: 12px;
	cursor: pointer;
	margin-left: 5px;
	/*position: relative;*/
}
.dd_aa>ul>li:hover{
	background: orangered;
	color: white;
}
.dd_aa>ul>li>img{
	width: 100%;
	top: 10px;
	left: 0;
}

.huayu{
	width: 1200px;
	height:330px;
	margin: auto;
	/*background: skyblue;*/
	/*border: 1px solid red;*/
}
.huayu_last{
	width: 1200px;
	height:40px;
	/*border: 1px solid red;*/
}
.huayu_last>ul>li{float: left;margin-left: 30px;}
.huayu_last>ul>li:first-child{font-size: 25px;}
.huayu_last>ul>li:nth-child(n+2){text-align: center; line-height: 40px;}
.huayu_last>ul>li:nth-child(n+2):hover{color: red;}
.huayu_last_bottom{width: 1200px;height:290px;
/*border: 1px solid #7FFF00;*/
}
.huayu_last_bottom>ul>li{float: left; margin-left: 30px;}
.huayu_last_bottom>ul>li:hover{color: red;}
.huayu_last_bottom>ul>li>div{}
.huayu_last_bottom>ul>li>.img>img{width: 160px;height: 250px;}
.huayu_last_bottom>ul>li>:hover{color: red;}
footer{
	width: 1300px;
	margin: auto;
	/*border: 1px solid green;*/
	background: gainsboro;
}
.footer{
	position: relative;
	width: 1300px;
	height:150px;
	margin: auto;
	/*border: 1px solid red;*/
}

.footer_contain{
	position: absolute;
	padding: auto;
	top: 15px;
	left: 150px;
	width: 1000px;
	height: 120px;
	background: white;
	/*border: 1px solid red;*/
}
.footer_contain>ul>li{
	margin-top: 10px;
	width: 230px;
	height:100px;
	border-right: 1px solid gray;
	float: left;
}

.footer_contain>ul>li:first-child{width: 300px;}
.footer_contain>ul>li:last-child{border: none;}
.footer_contain>ul>li>div{margin-left: 10px;font-size: 15px;color: grey;}
.footer_contain>ul>li>div>span{
	font-size: 13px;
	color: black;
	margin-left: 20px;
	margin-top: 20px;
}
.footer_contain>ul>li>div>span:hover{color: red;}

.footer_last{
	width: 1300px;
	height: 100px;
	margin: auto;
	/*border: 1px solid red;*/
}
.footer_last>p{margin-top:15px; text-align: center;}
.footer_last_one{ height: 30px; margin-left: 400px;}
.footer_last_one>ul>li{float: left;}
.footer_last_one>ul>li:hover{color: orange;}


span{
				display: inline-block;
			}
			.you{
				width: 300px;
				height: 880px;
				/*border: 1px solid red;*/
			}
			.yi{
				width: 300px;
				height: 512px;
				/*border: 1px solid red;*/
				position: relative;
			}
			.yi1>li{
				width: 149px;
				/*height: 40px;*/
				float: left;
				background: gainsboro;
				text-align: center;
				line-height: 40px;	
			}
			.yi1>li:nth-child(n+2){
				margin-left: 1px;
			}
			.zhanlang{
				width: 100%;
				height: 30px;
				background: black;
				opacity: 0.7;
				color: white;
				position: absolute;
				top: 110px;
				left: 0px;
			}
			.zhanlang1>li{
				float: left;
				line-height: 30px;
			}
			.zhanlang1>li:nth-child(1){
				width: 30px;
				height: 30px;
				background: orange;
				text-align: center;
				line-height: 30px;
			}
			.zhang1{
				width: 20px;
				height: 20px;
				background: orange;
				text-align: center;
				line-height: 20px;
				color: white;
			}
			.zhang2{
				width: 20px;
				height: 20px;
				background: gray;
				text-align: center;
				line-height: 20px;
				color: white;
			}
			.zhanlang2>li{
				position: relative;
				line-height: 30px;
			}
			.zhanlang2>li:hover{
				color: red;
			}
			

			.le{
				width: 300px;
				height: 512px;
				/*border: 1px solid red;*/
				position: relative;
				display: none;
			}
			.le1>li{
				width: 149px;
				height: 40px;
				float: left;
				background: gainsboro;
				text-align: center;
				line-height: 40px;	
			}
			.le1>li:nth-child(n+2){
				margin-left: 1px;
			}
			.zhan{
				width: 100%;
				height: 30px;
				background: black;
				opacity: 0.7;
				color: white;
				position: absolute;
				top: 110px;
				left: 0px;
			}
			.zhan1>li{
				float: left;
				line-height: 30px;
			}
			.zhan1>li:nth-child(1){
				width: 30px;
				height: 30px;
				background: orange;
				text-align: center;
				line-height: 30px;
			}
			.cong1{
				width: 20px;
				height: 20px;
				background: orange;
				text-align: center;
				line-height: 20px;
				color: white;
			}
			.cong2{
				width: 20px;
				height: 20px;
				background: gray;
				text-align: center;
				line-height: 20px;
				color: white;
			}
			.zhan2>li{
				position: relative;
				line-height: 30px;
			}
			.zhan2>li:hover{
				color: red;
			}
			.wan{
				width: 80px;
				height: 30px;
				position: absolute;
				top: 0px;
				right: 10px;
				font-size: 13px;
				text-align: center;
				line-height: 30px;
			}
			.ww{
				width: 100%;
				height: 30px;
				background: black;
				opacity: 0.7;
				color: white;
				position: absolute;
				top: 154px;
				left: 0px;
			}
			.zzz{
				width: 300px;
				height: 329px;
				/*border: 1px solid red;*/
				position: relative;
				background: gainsboro;
			}
			.zzz>p{
				font-size: 25px;
			}
			.zzz1>li{
				float: left;
				line-height: 30px;
			}
			.zzz1-1{
				width: 148px;
				height: 140px;
				/*border: 1px solid red;*/
				float: left;
			}
			.zzz1-2{
				width: 148px;
				height: 140px;
				/*border: 1px solid red;*/
				float: left;
			}
			.zzz1>li:nth-child(1){
				width: 30px;
				height: 30px;
				background: orange;
				text-align: center;
				line-height: 30px;
			}
			.erer{
				width: 25px;
				height: 25px;
				background: orange;
				text-align: center;
				line-height: 30px;
			}
			.erer1{
				width: 25px;
				height: 25px;
				background: gray;
				text-align: center;
				line-height: 30px;
			}
			.zzz1-1>ul>li{
				line-height: 30px;
			}
			.zzz1-1>ul>li:hover{
				color: red;
			}
			.zzz1-2>ul>li{
				line-height: 30px;
			}
			.zzz1-2>ul>li:hover{
				color: red;
			}
			.neidi{
				color: red;
			}