*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
#a{
	width: 1200px;
	height: 50px;
	/*border: 1px solid red;*/
	background: white;
	margin: auto;
	position: relative;
}
#a>a>img{
	margin: 10px 100px;
}
#a1{
	position: relative;
	left: 250px;
	top: -41px;
}
#a1>li{
	width: 50px;
	height: 20px;
	float: left;
	text-align: right;
	margin-left: 15px;
	color: darkgray;
	font-size: 15px;
}
#a1>li>p{
	width: 15px;
	height: 15px;
	display: inline-block;
	position: relative;
	left: -3px;
	top: 2px;
}
#a1>li>p>img{
	width: 15px;
	height: 15px;
}
.a1_2{
	display: none;
}
#a1>li:hover>p>.a1_2{
	display: block;
}
#a1>li:hover>p>.a1_1{
	display: none;
}

#a1>li>a{
	color: darkgray;
}
#a1>li:hover>a{
	color: black;
}
#a1>li>div{
	width: 250px;
	height: 260px;
	border-top: 2px solid orange;
	background: aliceblue;
	position: absolute;
	left: -10px;
	top: 37px;
	display: none;
	z-index: 1;
}
#a1>li:hover>div{
	display: block;
}
#a1>li:hover{
	height: 40px;
}
#a1>li>div>ul>li{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 13px;
	color: black;
}
#a1>li>div>ul>li>ul>li{
	margin-top: 5px;
}
#a1>li>div>ul>li>ul>li:hover{
	color: orange;
}
#a2{
	width: 400px;
	height: 40px;
	border: 2px solid orange;
	position: absolute;
	left: 50%;
	top: 4px;
	border-radius: 20px;
	margin-left: -200px;
}
#a2>p{
	width: 20px;
	height: 20px;
	margin: 10px 5px;
}
#a2_1{
	width: 250px;
	height: 30px;
	position: absolute;
	left: 28px;
	top: 5px;
	border: 0px;
	outline: none;
}
#a2>span{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 285px;
	top: 10px;
}
#a2_2{
	width: 90px;
	height: 44px;
	position: absolute;
	background: orange;
	left: 312px;
	top: -2px;
	border: 0px;
	border-radius: 0px 20px 20px 0px;
	cursor: pointer;
}
#a2_2:hover{
	background: gold;
}
#a3{
	position: absolute;
	right: 100px;
	top: 5px;
}
#a3>li{
	float: left;
	font-size: 14px;
	margin-left: 10px;
	color: darkgray;
	cursor: pointer;
}
#a3>li>p{
	width: 20px;
	height: 20px;
	position: relative;
	left: 50%;
	margin-left: -10px;
}
#a3>li>img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.a3_2{
	display: none;
}
#a3>li:hover>p>.a3_2{
	display: block;
}
#a3>li:hover>p>.a3_1{
	display: none;
}
#a3>li:hover{
	color: black;
}








#b{
	width: 1200px;
	height: 300px;
	margin: auto;
	background:  gainsboro;
	position: relative;
}
#b1{
	position: absolute;
	left: 100px;
	top: 20px;
}
#b1>img{
	width: 180px;
	height: 260px;
}
#b1_1{
	width: 35px;
	height: 35px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: black;
	border-radius: 50%;
	display: none;
}
#b1_1>#p1{
	width: 24px;
	height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
	background: url(../img/sprite_ico_collect.png)no-repeat -59px 1px;
}
#b1_1>#p2{
	width: 24px;
	height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
	background: url(../img/sprite_ico_collect.png)no-repeat 0px 0px;
	display: none;
}
#b1_1>#p3{
	width: 24px;
	height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
	background: url(../img/sprite_ico_collect.png)no-repeat 1px -29px;
	display: none;
}
#b1_1:hover{
	background: orange;
}
#b2{
	position: absolute;
	left: 300px;
	top: 20px;
	font-size: 13px;
}
#b2>li{
	margin-top: 5px;
}
#b2>li>h3{
	display: inline-block;
}
#b2>li>p{
	display: inline-block;
	margin-left: 10px;
	border: 1px solid darkgray;
	padding: 2px;
	color: orange;
	cursor: pointer;
}
#b2>li>p:hover{
	border: 1px solid orange;
}
#b2>li>span:nth-child(n+2){
	margin-left: 30px;
}
#b2>li>span>img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}
#b2>li>span{
	position: relative;
}
#b2>li>span>div{
	width: 450px;
	height: 200px;
	position: absolute;
	left: -100px;
	top: 15px;
	box-shadow: 1px 1px 1px 1px darkgray;
	background: white;
	border-top: 2px solid orange;
	display: none;
	z-index: 999;
}
#b2>li>span>div>ul>li{
	margin: 10px;
}
#b2>li>span>div>ul>li>img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: inline-block;
}
#b2>li>span>div>ul>li>ul{
	position: absolute;
	left: 80px;
	top: 10px;
}
#b2>li>span:hover>div{
	display: none;
}
#b2>li>button{
	width: 100px;
	height: 35px;
	color: white;
	background: orangered;
	border: 0px;
	border-radius: 20px;
	line-height: 35px;
	cursor: pointer;
}
#b2>li>button>img{
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
}
#b2>li>button:hover{
	background: orange;
}
#b3{
	position: absolute;
	right: 100px;
	top: 20px;
}
#b3>li:nth-child(odd){
	margin-left: 7px;
	color: orange;
}
#b3>li:nth-child(even){
	width: 60px;
	border-radius: 20px;
	border: 1px solid chartreuse;
	color: chartreuse;
	background: white;
}
#b3>li>h3{
	display: inline-block;
}
#b3>li>span{
	color: white;
	background: chartreuse;
	border-radius: 20px 0px 0px 20px;
}
#b4{
	position: absolute;
	right: 100px;
	bottom: 30px;
	cursor: pointer;
}
#b4>p>img{
	width: 20px;
	height: 20px;
	position: relative;
	top: 3px;
}
#b4>#p2{
	color: orangered;
	display: none;
}
#b4:hover>#p1{
	display: none;
}
#b4:hover>#p2{
	display: block;
}



footer{
	width: 1300px;
	height: 1200px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}
.c{
	width: 800px;
	height: 300px;
	border: 0px solid black;
	position: relative;
	top: 26px;
	left: 40px;
}
.c>ul>li{
	width: 40px;
	height: 40px;
	border: 0px solid black;
	border-radius: 50%;
	background-color: gainsboro;
	float: left;
	list-style: none;
	margin-left: 10px;
	text-align: center;
	margin-top: 15px;
	line-height: 40px;
	color: black;
	cursor: pointer;
}
.c-2{
	width: 90px;
	height: 40px;
	border-radius: 42px;
	border: 0px solid black;
	background-color: gainsboro;
}
.c-3{
	margin-top:110px ;
	width: 800px;
	height: 200px;
	border: 0px solid black;
	position: absolute;
	display: none;
}
.c-3{
	background-color: white;
}
.c-3>ul>li{
	width: 40px;
	height: 40px;
	border: 0px solid black;
	border-radius: 50%;
	background-color: gainsboro;
	float: left;
	list-style: none;
	margin-left: 10px;
	text-align: center;
	margin-top: 15px;
	line-height: 40px;
	color: black;
	cursor: pointer;			
}
.d{
	border: 0px solid black;
	height: 800px;
	width: 800px;	
	margin-top: 30px;
	margin-left: 40px;
}
.d-1{
	width: 800px;
	height: 80px;
	border-bottom: 2px solid darkgray;	
}
.d-1>ul>li{
	width: 150px;
	height: 80px;
	border-bottom: 2px solid darkgray;
	float: left;
	list-style: none;
	font-size: 22px;
	line-height: 80px;
	text-align: center;
	cursor: pointer;
}
.d-1>.d-2{
	border-bottom: 2px solid orange;
}
.d-1-1{
	width: 300px;
	height: 500px;
	border: 0px solid black;
	position: relative;
}
.d-1-1>img{
	position: absolute;
	top: 70px;
	left: 0px;
}
.d-1-1>p{
	position: absolute;
	top: 350px;
	font-size: 20px;
}
.d-1-11{
	float: left;
}
.d-1-12{
    position: absolute;
	left: 0px;
	top: 370px;
	font-size: 15px;
	color: darkgray;
}
.d-2-1{
	width: 500px;
	height: 500px;
	border: 0px solid black;
	position:relative;
	left: -150px;
	background-color: white;
	top: 2px;
	display: none;
}
.d-2-1>img{
	position: absolute;
	top: 70px;
	left: 150px;
}
.d-2-1>p{
	position: absolute;
	top: 350px;
	font-size: 20px;
	left: 150px;
}
.d-2-11{
	position: absolute;
	left: 150px;
}
.d-2-12{
	position: absolute;
	left: 0px;
	top: 370px;
	font-size: 15px;
	color: darkgray;
	left: 150px;
}
.d-3-1{
	width: 500px;
	height: 500px;
	border: 0px solid black;
	position:relative;
	left: -300px;
	background-color: white;
	top: 2px;
	display: none;
}
.d-3-1>img{
	position: absolute;
	top: 70px;
	left: 300px;
}
.d-3-1>p{
	position: absolute;
	top: 350px;
	font-size: 20px;
	left: 300px;
}
.d-3-11{
	position: absolute;
	left: 300px;
}
.d-3-12{
	position: absolute;
	left: 0px;
	top: 370px;
	font-size: 15px;
	color: darkgray;
	left: 300px;
}
.d-4{
	width: 800px;
	height: 200px;
	border: 0px solid black;
	position: absolute;
	top: 1250px;
}
.d-4-1>ul>li{
	width: 180px;
	height: 150px;
	border: 0px solid black;
	float: left;
	list-style: none;
	margin-left: 10px;
	opacity: 0.7;
}
.e{
	width: 380px;
	height: 495px;
	border: 0px solid black;
	float: right;
	position: relative;
	top: -1080px;
	left: -50px;
}
.e>ul>li{
	list-style: none;
	width: 380px;
	height: 48px;
	border: 0px solid black;
	line-height: 48px;
}
.e-1{
	margin-left: 8px;
	margin-top: 10px;
	width: 25px;
	height: 25px;
	background-color: red;
	color: white;
	line-height: 25px;
	text-align: center;
	float: left;
}
.e-1-1{
	margin-top: 20px;
	float: right;
	width: 12px;
	height: 3px;
	margin-right: 13px;
	background-color: orange;
}
.e-2{
	margin-left: 8px;
	margin-top: 10px;
	width: 25px;
	height: 25px;
	background-color: darkorange;
	color: white;
	line-height: 25px;
	text-align: center;
	float: left;
}
.e-2-1{
	margin-top: 20px;
	float: right;
	width: 12px;
	height: 3px;
	margin-right: 13px;
	background-color: red;
}
.e-3{
	margin-left: 8px;
	margin-top: 10px;
    width: 25px;
	height: 25px;
	background-color: orange;
    color: white;
    line-height: 25px;
    text-align: center;
    float: left;
}
.e-3-1{
	width: ;
	margin-top: 10px;
	float: right;
	margin-right: 5px;
}
.e-4{
	margin-left: 8px;
	margin-top: 10px;
	width: 25px;
	height: 25px;
	background-color: darkgray;
	color: white;
	line-height: 25px;
	text-align: center;
	float: left;
}
.e-4-1{		
	margin-top: 10px;
	float: right;
	margin-right: -30px;
}
.e-5-1{
	margin-top: 20px;
	float: right;
	width: 12px;
	height: 3px;
	margin-right: -25px;
	background-color: orange;
}
.e-6-1{
	margin-top: 20px;
    float: right;
	width: 12px;
	height: 3px;
	margin-right: 15px;
	background-color: orange;
}
.f{
	width: 1300px;
	height: 300px;
	border: 0px solid black;
}
.f-1{
	margin-top: 80px;
	width: 1300px;
	height: 100px;
	border: 0px solid black;	
}
.f-1-1{
	width: 300px;
	height: 100px;
	border-right: 2px solid darkgray;
	margin-left: 35px;
	float: left;
}
.f-1-2{
	width: 200px;
	height: 100px;
	border-right: 2px solid darkgray;
	float: left;
	margin-left: 35px;
}
.f-1-3{
	width: 300px;
	height: 100px;
	float: left;
	margin-left: 35px;
}
.f-1-4{
	width: 300px;
	height: 100px;
	border-left: 2px solid darkgray;
	position: absolute;
	left: 1100px;
}
.f-1-1>ul>li{
	list-style: none;
	float: left;
	margin-left: 8px;
	margin-top: 8px;
}
.f-1-2>ul>li{
	list-style: none;
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}
.f-1-3>ul>li{
	list-style: none;
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}
.f-1-4>ul>li{
	list-style: none;
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}
.f-1 p{
	margin-left: 12px;
}
.f-2{
	margin-top: 80px;
	margin-left: 388px;
}


